@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('../public/images/blue-gradient.svg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;

}

@keyframes custom-pulse {
  0% {
    color: #FD679F;
  }
  25% {
    color: #B4ABE8;
  }
  50% {
    color: #8A7CDA;
  }
  75% {
    color: #E37AC8;
  }
  100% {
    color: #FD679F;
  }
}

.custom-pulse:hover {
  animation: custom-pulse 4s linear infinite;
}

